
*{
  margin: 0;
  padding: 0;
}

body {
  font-famyli: 'poppings', sans-serif;
}

.cabecalho {
backgroud-color:#092670;
  color: white;
  dispaly: flex;
  justify-content: space-around;
  aling-items: center;
  padding: 24px 0;
 
}

.cabecalho-iamgem {
  widht:10%;
}

.cabecalho-lista-item {
  dispaly: inline-block;
  margin: 0 16px;
  font-size: 16px;
}

.cabecalho-lista-item a {
  text-decoration: none;
  color: white;
}


.escola-imagem {
  width: 25%;
}

#escola {
  background-color: aqua;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}
.escola-div-conteudo [
  widht: 35%;

].escola-titulo {
 padding: 24px 0;
}
#estudante {
  padding: 24px 0;
}


.estudante-imagem {
  widht: 120px;
}

.estudante-icone{
  width: 24px;
  padding: 4px 8px
}

.estudante-div {
  text-align: grid;
  padding: 16px; 0;
}
.estudante-titulo {
  text-align: center;
}

.estudante-todos {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape {
  background-color: black;
  text-align: center;
}

.rodape-imagem {
  height: 60px;
  padding: 12px 0;
}
